html {
  font-family: sans-serif;
}

body {
  margin: 0;
  text-align: center;
  background-color: #1eb0ff;
  color: #eef1f6;
}

#logo {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  margin-top: 2rem;
}

h1 {
  color: #ff5100;
}

a {
  color: #08db95;
}
